.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 2px solid black;

}
